PORT=3000
MONGO_URI=mongodb://localhost:27017/clonefoodweb

IMAGEKIT_PUBLIC_KEY=public_RRxfSPaG/szsYnxRuxPSzdo/fT0=
IMAGEKIT_PRIVATE_KEY=private_lFiTsaEbJZNe2NkDj/AIjIS9DUQ=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/arzaan

JWT_SECRET=anyrandomsecretkey